
{#<div id="result-form-search">#}
{#    <div class="navbar-fixed-bottom table-result">#}
{#        <div class="panel-group">#}
{#            <div class="panel panel-primary panel-primary1">#}
{#                <div class="panel-heading">#}
{#                    <p>Danh Mục Cây Xanh Theo Tuyến Đường</p>#}
{#                </div>#}
{#                <div class="panel-body">#}
{#                    <table class="table1">#}
{#                        <tr>#}
{#                            <th>STT</th>#}
{#                            <th>Số Hiệu</th>#}
{#                            <th>Tên Cây</th>#}
{#                            <th>Kinh Độ</th>#}
{#                            <th>Vĩ Độ</th>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>11111</td>#}
{#                            <td>222222222222222222</td>#}
{#                            <td>333333333333333333</td>#}
{#                            <td>444444444444444444</td>#}
{#                            <td>555555555555555555</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>11111</td>#}
{#                            <td>222222222222222222</td>#}
{#                            <td>333333333333333333</td>#}
{#                            <td>444444444444444444</td>#}
{#                            <td>555555555555555555</td>#}
{#                        </tr><tr>#}
{#                            <td>11111</td>#}
{#                            <td>222222222222222222</td>#}
{#                            <td>333333333333333333</td>#}
{#                            <td>444444444444444444</td>#}
{#                            <td>555555555555555555</td>#}
{#                        </tr><tr>#}
{#                            <td>11111</td>#}
{#                            <td>222222222222222222</td>#}
{#                            <td>333333333333333333</td>#}
{#                            <td>444444444444444444</td>#}
{#                            <td>555555555555555555</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>11111</td>#}
{#                            <td>222222222222222222</td>#}
{#                            <td>333333333333333333</td>#}
{#                            <td>444444444444444444</td>#}
{#                            <td>555555555555555555</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>11111</td>#}
{#                            <td>222222222222222222</td>#}
{#                            <td>333333333333333333</td>#}
{#                            <td>444444444444444444</td>#}
{#                            <td>555555555555555555</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>11111</td>#}
{#                            <td>222222222222222222</td>#}
{#                            <td>333333333333333333</td>#}
{#                            <td>444444444444444444</td>#}
{#                            <td>555555555555555555</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>111111</td>#}
{#                            <td>222222222222222222</td>#}
{#                            <td>333333333333333333</td>#}
{#                            <td>444444444444444444</td>#}
{#                            <td>555555555555555555</td>#}
{#                        </tr>#}
{#                    </table>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}