{% extends "pages/app.html" %}
{% load staticfiles %}
{% block title %}This is mapview{% endblock %}
{% block top-header %}
    {% include "pages/nav.html" %}
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="viewDiv"></div>

    <div id="update" class="esri-widget esri-hidden">
      <div id="formDiv" class="scroller esri-component"></div>
      <input type="button" class="esri-button" value="Update" id="btnUpdate"/>
    </div>
    <div id="create" class="esri-widget esri-hidden">
      <div id="formDiv" class="scroller esri-component"></div>
      <input type="button" class="esri-button" value="create" id="btnCreate"/>
    </div>

    <div id="editorDiv"></div>
{% endblock %}
{% block form %}
    <div id="editorDiv"></div>
{% endblock %}



