<div id="wrapper">

    <!-- ============================================================Navigation==================================================== -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="header">
            <a href="#" id="menu-action" class="disableRedirect;">
                <i class="fa fa-bars"></i>
                <span>menu</span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">VNPT {{ success }}</a>
        </div>

        {#        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">#}
        {#            <span class="sr-only">Toggle navigation</span>#}
        {#            <span class="icon-bar"></span>#}
        {#            <span class="icon-bar"></span>#}
        {#            <span class="icon-bar"></span>#}
        {#        </button>#}

        <!-- =========================================Top Navigation: Left Menu -->
        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a href="#"><i class="fa fa-home fa-fw"></i> Hệ Thống Quản Lí Cây Xanh</a></li>
        </ul>

        <!-- =========================================Top Navigation: Top Menu -->
        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown navbar-inverse">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i>History <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>
                    {{ username }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="myprofile/"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!--================================================== Sidebar===================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                {# ==================== This is main menu#}
                <ul class="nav nav-multilv active nav-lv1" id="side-menu">

                    <li>
                        <button data-toggle="modal" data-target="#myModal1" style="padding-left: 15px;"><i
                                class="fa fa-database" style="padding-right: 4px;"></i>Thêm Tên Cây Xanh
                        </button>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-search"></i> Tra cứu<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <button data-toggle="modal" data-target="#myModal">Tra cứu theo tuyến đường</button>
                            </li>
                            <li>
                                <button class="open-button" onclick="openPopup()">Tra cứu quận huyện</button>
                            </li>
                            <li>
                                <button class="open-button" onclick="openPopup()">Tra cứu theo Phường Xã</button>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Quản lí, Giám Sát<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <button>Giám sát công tác cắt tỉa</button>
                            </li>
                            <li>
                                <button>Giám sát công tác chặt hạ</button>
                            </li>
                            <li>
                                <button>Giám sát công tác di dời</button>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="esri-icon-chart"></i> Thống Kê Báo Cáo<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <button>Thống kê theo tên cây xanh</button>
                            </li>
                            <li>
                                <button>Thống kê theo tuyến đường</button>
                            </li>
                            <li>
                                <button>Thống kê theo quận huyện</button>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="esri-icon-layer-list"></i> Quản lí người Dùng<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <button data-toggle="modal" data-target="#myModal2" style="padding-left: 15px;"><i
                                        class="fa fa-database"></i>Thêm Người Dùng
                                </button>
                            </li>
                            <li>
                                <button>Lập Lịch Theo Tháng</button>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="active"><i class="fa fa-user"></i> Quản Lí Người Dùng</a>
                    </li>
                </ul>

                {# **************Tra Cứu Theo Quận Huyện#}
                <ul class="nav nav-multilv nav-lv2">
                    <li><a href=""><i class="esri-icon-left-arrow"></i></a></li>
                    <div class="esri-widget" id="optionsDiv">
                        <h5>Tra Cứu Theo Quận Huyện</h5>
                        <select class="esri-widget" id="attSelect">
                            {% for qh in select_QH %}
                                <option value="{{ qh.0 }}">{{ qh.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>

{#**********Danh Sách Tra Cứu********************#}
<div class="form-popup" id="myform">
    <div class="form-container">
        <div class="popup-header">
            <h4 class="popup-title">
                Tra cứu theo phường xã
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <hr/>
            </h4>
        </div>
        <div class="popup-body">
            <div class="popup-body-search">
                <input type="text" placeholder="Nhập Tên Quận Huyện..." id="myInput"
                       class="dropbtn searchqh"/>
                <button id="btn-search"><i class="esri-icon-search"></i></button>
            </div>
            <div id="myDropdown" class="dropdown-content">
                <a>Nguyễn Văn Cừ</a>
            </div>
        </div>
        <div class="popup-footer">
            <ul class="listqh">
                {% for qh in Selectqh %}
                    <li class="item-qh" value="{{ qh.0 }}"> {{ qh.1 }} - Mã: {{ qh.0 }}</li>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>

{#**********Model form thêm tên cx***************#}
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">THÊM TÊN CÂY XANH</h4>
                </div>
                <div class="modal-body">

                    <form action="UBG/them-ten-cay-submit/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="matencx" class="control-label">Mã Tên:</label>
                            <div><input type="text" name="matencx" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label for="tencx" class="control-label">Tên Cây Xanh:</label>
                            <div><input type="text" name="tencx" class="form-control"></div>
                        </div>
                        <div class="submit-btn">
                            <button type="submit" class="btn btn-default btn1" style=""><i
                                    class="esri-icon-check-mark"></i>Lưu
                            </button>
                            <button type="submit" class="btn btn-default btn2" style=""><i class="esri-icon-edit"></i>sửa
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

</div>

<style>
    .button-btn {
        display: inline-block;
    }

    .btn1 {
        border: 1px solid;
        background-color: #004a82;
        color: #fff;
        width: max-content;
        margin-left: 50%;
        margin-right: 1%;
        padding: 10px 20px;

    }

    #btn-search{
        border: 1px solid #ddd;
        position: absolute;
        height: 100%;
        width: 35px !important;
        right: 0;
        text-align: center;
        padding: 0 !important;
    }

    .btn2 {
        border: 1px solid;
        background-color: #dab942;
        color: #fff;
        width: max-content;
        padding: 10px 20px;

    }

    /* The popup form - hidden by default */
    .form-popup {
        display: none;
        position: fixed;
        bottom: 0;
        left: 250px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    /* Add styles to the form container */
    .form-container {
        width: 290px;
        min-height: 571px;
        padding: 10px;
        display: inline-block;
        padding-left: 0;
        padding-top: 0;
        background-color: white;
    }

    .popup-header {
        display: inline-block;
        height: 63px;
        width: 293px;
        color: white;
        background: #0066b3;
    }

    .popup-body-search {
        position: relative;
        padding-left: 10px;
        border-bottom: 1px solid #ddd;

    }

    .popup-title {
        padding-left: 10px;
        padding-top: 10px;
    }

    .close {
        margin-top: -16%;
        padding-left: 90% !important;
    }

    hr {
        margin-top: 10px;
    {#margin-bottom: 10px;#}
    }


    #myInput {
        border-box: box-sizing;
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 10px 20px 0 3px;
        border: none;
    }

    #myInput:focus {
        outline: 1px solid #fff;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 5px 15px;
        text-decoration: none;
        display: block;
        margin-left: 33px;
    }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }

</style>
{% load staticfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/openPopup.js' %}"></script>
<script src="{% static 'js/searchQH.js' %}"></script>