{% extends "pages/app.html" %}
{% block title %}{{ username }} profile{% endblock %}
{% block top-header %}
    {% include "pages/nav.html" %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">{{ username }} Profile</h3>
                </div>
            </div>
            <div class="row">
                <form>
                <div class="col-md-4">
                </div>
                <div class="col-md-8"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}

{% endblock %}

